body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF; /* White background */
    color: #34034F; /* Dark purple text */
}

header {
    background-color: #F8F8F8; /* Light gray background */
    color: #34034F; /* Dark purple text */
    padding: 20px;
    text-align: center;
}

.profile-img {
    width: auto; /* Maintain aspect ratio */
    height: 200px; /* Set a fixed height */
    border-radius: 50%;
    margin: 10px auto;
    display: block;
}

section {
    margin: 20px;
    padding: 15px;
    background: #F8F8F8; /* Light gray for sections */
    border: 1px solid #DDD; /* subtle borders for separation */
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #34034F;
    color: white;
    margin-top: 20px;
}

a {
    color: #8A2BE2; /* Link color */
}
