body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF; /* White background */
    color: #34034F; /* Dark purple text */
}

header {
    background-color: #34034F; /* Dark purple background */
    color: white;
    padding: 20px;
    text-align: center;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #8A2BE2;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    margin: 20px;
    padding: 15px;
    background: #EEE; /* Light gray for sections */
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #34034F;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: #FFD700; /* Gold color for links */
}
